@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --principal: #385586;
  --principal_1: #405365;
  --principal_2: #597BAD;
  --principal_3: #859FC3;
  --principal_4: #D1DAE7;
  --principal_light: #E6F0FF;
  --principal_dark: #070708;
}

html {
  scroll-behavior: smooth;
  color: var(--principal_light)
}

main {
  background-image: url('../public/castleBackground.jpg');
  @apply h-full bg-cover bg-fixed bg-no-repeat;
}

h1, h2, h3 {
  @apply font-title;
}

button {
  @apply py-4 px-12 m-4 font-buttons rounded-full text-center text-4xl cursor-pointer;
}

p, h4 {
  @apply font-paragraph;
}

.content-background {
  @apply bg-principal-1 h-full w-3/4 m-auto flex flex-col justify-center items-center bg-fixed;
}